.header {
  padding-top: 30px;
  padding-bottom: 30px;

  .navigation {
    position: relative;
    &__list {
      @include flex-all-center;
    }

    &__item {
      &:first-child {
        padding-right: 280px;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__link {
      font-weight: 700;
      font-size: 18px;
      color: $color-white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 130%;
      left: 25%;
      width: 610px;
      height: 1px;
      background-color: $color-white;
    }
  }
}
