<section class="clock-section">
  <div class="container timer-frame">
      <div class="timer-choice">
        <ul class="timer-choice__list list-reset">
          <li class="timer-choice__item"><a href="" class="timer-choice__link">Timer</a></li>
          <li class="timer-choice__item"><a href="" class="timer-choice__link">Short break</a></li>
          <li class="timer-choice__item"><a href="" class="timer-choice__link">Long break</a></li>
        </ul>
      </div>
      <div class="time">25:00</div>
      <div class="timer-controls">
          <button class="timer-controls__btn start btn-reset">START</button>
          <button class="timer-controls__btn clear btn-reset">RESET</button>
      </div>
  </div>
</section>


