// если вы хотите использовать sass-переменные - удалите root
// colors

$color-black: #000;
$color-white: #fff;
$color-gray: #424551;
$color-darkgray: #1e212c;
$color-lightgray: #787a80;
$color-primary: #ff5a30;
